*[id]:before {
  @include u-display('block');
  content: " ";
  margin-top: -95px; // Set the Appropriate Height
  height: 95px; // Set the Appropriate Height
  visibility: hidden;
}

#backtop {
  @include u-border('2px', 'red-50v', 'solid');
  outline: none; /* Remove outline */
  @include u-bg('white');
  @include u-color('red-50v');
  cursor: pointer; /* Add a mouse pointer on hover */
  @include u-padding-y(1);
  @include u-padding-x('105');
  @include u-radius('sm');
  @include u-text('normal');
  @include u-font('sans', 'sm');
  &:hover{
    span{
      @include u-border-bottom('2px', 'red-50v', 'solid');
    }
  }
}

.media{
  @include u-margin-y(2);
  @include u-margin-right(0);
  figcaption{
    @include u-text('base');
    @include u-padding-x('05');
  }
}
.width-xl{
  @include u-width('full');
}
.width-lg{
  @include u-width('tablet-lg');
}
.width-md{
  @include u-margin-left(0);
  @include u-width('full');
  @include at-media('desktop') {
    @include u-margin-left(2);
    @include u-width('tablet');
    @include u-float('right');
  }
}
.width-sm{
  @include u-width('mobile-lg');
}

.lead a{
  @include u-text('no-underline');
  @include u-border-bottom('2px','dotted','secondary-vivid');
}

.rsvp{
  @include u-margin-x('05');
  @include u-padding-x(1);
  @include u-padding-y('05');
  @include u-radius('sm');
  @include u-bg('red-50v');
  @include u-text('white');
  @include u-text('medium');
  @include u-text('no-underline');
  @include u-font('sans', '3xs');
  &:hover{
    @include u-text('white');
    @include u-text('underline');
  }
}
code{
  @include u-padding-x('05');
  @include u-padding-y('2px');
  @include u-bg('white');
  @include u-border('1px','solid','base-lighter');
  @include u-radius('md');
}

.emoji{
  @include u-position('relative');
  @include u-top('05');
}


.note{
  p{
    @include u-margin-y(0);
  }
}
