<div class="grid-container">
  <div class="grid-row grid-gap-4">
    <div class="grid-col-12">
      <header class="padding-y-105 border-top-0 border-x-0 border-bottom border-dotted border-bottom-width-2px border-base-dark">
        <a class="" href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="{{ site.title }}">
          <img class="margin-right-1 position-relative top-05
" src="assets/img/brooklyn-rail-logo-2019-outline-red.svg" onerror="this.onerror=null; this.src='brooklynrail-logo-red.png'" alt="{{ site.title }}">
        </a>
        <h1 class="margin-y-0 text-bold font-sans-xl display-none">
          {{ site.title }}
        </h1>
      </header>
    </div>
  </div>
</div>

<section class="margin-bottom-5 position-sticky top-0 z-100 bg-white">
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <div class="padding-y-105 display-flex flex-justify flex-align-center border-top-0 border-x-0 border-bottom border-dotted border-bottom-width-2px border-base-dark">
          <a class="font-sans-md text-bold text-no-underline" href="https://brooklynrail.org/"><i class="fas fa-arrow-left"></i> <span class="hover:border-bottom-2px">Brooklyn Rail Home</span></a>
          <a class="padding-x-2 padding-y-105 display-inline-block radius-sm bg-secondary-vivid text-medium text-white hover:text-white text-uppercase text-center text-no-underline font-sans-md" href="#"><span class="hover:border-bottom-2px">Donate</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
