{% if include.caption %}
  <figure class="media {% if include.size %}width-{{ include.size }} {% endif %}">
      <img src="assets/media/{{ include.filename }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %}/>
      <figcaption class="font-sans-2xs">{{ include.caption }}</figcaption>
  </figure>
{% else %}
  <img src="assets/media/{{ include.filename }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
{% endif %}
