<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body class="bg-secondary-vivid">

  <div class="paper bg-white height-auto">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include header.html %}

    {{ content }}

    <button onclick="topFunction()" id="backtop" title="Go to top"><span>Top <i class="fas fa-long-arrow-alt-up"></i></span></button>
    {% include footer.html %}
  </div>

</body>

</html>
