---
layout: default
---

<div class="grid-container">
  <div class="grid-row grid-gap-4">
    <div class="grid-col-12">

      <header class="margin-bottom-3">
        <h1 class="margin-0 text-bold font-sans-xl desktop-lg:font-sans-3xl">{{ page.title | escape }}</h1>
        {% if page.deck %}
        <div class="margin-y-1 line-height-sans-2 text-light font-sans-xl desktop-lg:font-sans-3xl">{{ page.deck | escape }}</div>
        {% endif %}
        {% if page.url == '/posts/' %}
        {% assign size = page.url | size | minus: 2 %}
        <a href="{{ site.baseurl }}/new{{ page.url | slice: 0, size }}" class="usa-button margin-top-3">New</a>
        {% endif %}
      </header>

      {% include navigation.html %}

    </div>
  </div>
</div>

<section class="article-list" data-api="{{ page.api }}">
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">

        {{ content }}


        {% include section.html %}


      </div>
    </div>
  </div>
</section>
